In [3]:
!pip install -q google-generativeai

In [4]:
import pprint
import google.generativeai as palm

In [6]:
palm.configure(api_key='AIzaSyDC8Pt_lU3YpMJVdGwUpjdIaFWn-EhA-pg')

In [7]:
models = [m for m in palm.list_models() if 'generateText' in m.supported_generation_methods]
model = models[0].name
print(model)

models/text-bison-001

In [10]:
prompt = """
Q: What is comment for the following sql code:
'CREATE TABLE `payment_methods` (   `payment_method_id` tinyint(4) NOT NULL AUTO_INCREMENT,   `name` varchar(50) NOT NULL,   PRIMARY KEY (`payment_method_id`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci'
"""

completion = palm.generate_text(
    model=model,
    prompt=prompt,
    temperature=0,
    max_output_tokens=800,
)

print(completion.result)

This SQL code creates a table called `payment_methods`. The table has two columns: `payment_method_id` and `name`. The `payment_method_id` column is the primary key of the table.

In [11]:
prompt = """
Q: Generate a detailed comment for the following sql code:
'CREATE TABLE `payment_methods` (   `payment_method_id` tinyint(4) NOT NULL AUTO_INCREMENT,   `name` varchar(50) NOT NULL,   PRIMARY KEY (`payment_method_id`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci'
"""

completion = palm.generate_text(
    model=model,
    prompt=prompt,
    temperature=0,
    max_output_tokens=800,
)

print(completion.result)

This SQL code creates a table named `payment_methods`. The table has two columns:

* `payment_method_id`: an integer primary key that auto-increments.
* `name`: a varchar column that stores the name of the payment method.

The table is created with the InnoDB engine and the utf8mb4 character set.

In [13]:
prompt = """
Q: Generate a detailed comment in the sql comment format including version, author, timestamp for the following sql code:
'CREATE TABLE `payment_methods` (   `payment_method_id` tinyint(4) NOT NULL AUTO_INCREMENT,   `name` varchar(50) NOT NULL,   PRIMARY KEY (`payment_method_id`) ) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci'
"""

completion = palm.generate_text(
    model=model,
    prompt=prompt,
    temperature=0,
    max_output_tokens=800,
)

print(completion.result)

/**
 * payment_methods table
 *
 * @version 1.0
 * @author John Doe <john.doe@example.com>
 * @created 2023-01-01 12:00:00
 */
CREATE TABLE `payment_methods` (
  `payment_method_id` tinyint(4) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`payment_method_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci